.back-to-the-theme-container {
	margin-top: 40px;
}

.back-to-the-theme-preview {
	margin-bottom: 40px;
}

.back-to-the-theme-preview h2 {
	font-size: 2em;
	margin: 0 0 0.5em;
}

.back-to-the-theme-preview iframe {
	background: #fff;
	border: 2px solid #eee;
	min-height: 800px;
	resize: both;
	width: 100%;
}

.back-to-the-theme-preview-info {
	position: sticky;
	top: 28px;
	padding: 16px;
	background: #FFF;
	max-height: 20px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}

.back-to-the-theme-preview-info .spinner {
	position: absolute;
	top: 2px;
	right: 2px;
}
