.back-to-the-theme-container {
	margin-top: 40px;
}

.back-to-the-theme-preview {
	margin-bottom: 40px;
}

.back-to-the-theme-preview h2 {
	font-size: 2em;
	margin: 0 0 0.5em;
}

.back-to-the-theme-preview iframe {
	background: #fff;
	border: 2px solid #eee;
	min-height: 800px;
	resize: both;
	width: 100%;
}
